{% extends "base.html" %}

{% block title %}Bad by request{% endblock %}

{% block content %}

<h2>{{ ses.title }}</h2>
<h3>{{ ses.subtitle }}</h3>
<h4><a href="{% url 'uri_bad_rescedule'  %}">Rescedule</a> all bad items in this category</h4>

<p>
Found {{ ses.item_count }} items matching filter
</p>


{% include "statistics/snippets/navigator.html" %}

<table border="1">
  <th>uri id</th>
  <th>url</th>
  <th>status</th>
  <th>err msg</th>
  {% for item in items %}
    <tr>
      <td>{{ item.pk }}</td>
      <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
      <td>{{ item.status }}</td>
      <td>{{ item.err_msg }}</td>
    </tr>
  {% endfor %}
</table>

{% include "statistics/snippets/navigator.html" %}



{% endblock %}


{% comment %}

{% include "statistics/snippets/navigator.html" %}

<h3>Problematic items, filtered on: {{ filter_label }}</h3>
<p>
</p>




{% endcomment %}
