# Eclipse project files
.externalToolBuilders/
*.classpath
*.project
*.settings/

# Intellij
**/*.idea/
**/*.iml
**/*.iws

# Mac
**/*.DS_Store

# Maven
**/log/
**/target/

# Temp files
**/*.bak

reindexing/.gitignore
reindexing/enrichment-bolt/.gitignore
reindexing/enrichment-topology/.gitignore
reindexing/recordread/.gitignore
reindexing/recordwrite-bolt/.gitignore
reindexing/reindexing-common-external/.gitignore
reindexing/reindexing-common-external/reindexing-common-external.iml
reindexing/reindexing-common/.gitignore
reindexing/reindexing-entity-cleanup/reindexing-entity-cleanup.iml
