{% comment %}============================

This template generates a special page that multilingo then splits in four parts, 
this will not be directly renderable!


-----------------------------------------{% endcomment %}<static_title>{% block title %}{% comment %}============================

Here goes page title

-----------------------------------------{% endcomment %}{% endblock %}
</static_title>

<static_header_scripts>{% block header_scripts %}{% comment %}=================

  Here goes page specific extra stylesheets and javascripts

----------------------------------------{% endcomment %}{% endblock %}
</static_header_scripts>

<static_content>{% block content %}{% comment %}==========================

main content

----------------------------------------{% endcomment %}{% endblock %}
</static_content>

<static_left_side>{% block left_side %}{% comment %}===========================

If not blank this should replace the leftside (below the logo)

----------------------------------------{% endcomment %}{% endblock %}
</static_left_side>
