{% extends "base.html" %}

{% block title %}Stats by request{% endblock %}

{% block content %}

<h2>{{ label }} grouped by request</h2>

Statistics generated: {{ stats_update_time }}
<table border="1">
      <th>Name</th>
      <th>Records</th>
      <th>Links found</th>
      <th>Waiting</th>
      <th>Bad {{ label }}</th>
      <th>Verified</th>
      <th>Ratio</th>
    {% for item in items %}
      <tr>
        <td><a href="{% url 'stats_by_req' item.req_id item_type %}">{{ item.name }}</a></td>
        <td>{{ item.record_count }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.waiting }}</td>
        <td>{{ item.bad }}</td>
        <td>{{ item.ok }}</td>
        <td>{{ item.ratio }}</td>
    </tr>
    {% endfor %}
    
    <tr>
      <td><b>Summaries</b></td>
      <td>{{ summary.record_count }}</td> 
      <td>{{ summary.count }}</td> 
      <td>{{ summary.waiting }}</td> 
      <td>{{ summary.bad }}</td> 
      <td>{{ summary.ok }}</td> 
      <td>{{ summary.ratio }}</td> 
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><b>Records</b></td>
      <td><b>Links found</b></td>
      <td><b>Waiting</b></td>
      <td><b>Bad</b></td>
      <td><b>Verified</b></td>
      <td><b>Ratio</b></td>
    </tr>
    
</table>
{% endblock %}

{% comment %}

{% endcomment %}
